.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: url("../Images/background.jpg");

width: 100%; 
height: 80%;
background-position: center;
//background-repeat: no-repeat;
background-size: cover;
//position: relative;
}