.tableTitle {
    color: rgb(230, 86, 129);
    font-size: 35px;
    width: 600px;
    text-align: center;
}

.tableText {
    border-style: solid;
    border-color: yellow;
    color: white;
    text-align: center;
    font-size: 35px;
}

.playersHandText {
    color: rgb(230, 86, 129);
    font-size: 35px;
    width: 600px;
    text-align: center;
}

.dealersHandText {
    color: rgb(230, 86, 129);
    font-size: 35px;
    width: 600px;
    text-align: center;
}

.gameText {
    text-align: center;
    font-size: 50px;
}

#bankText {
    font-size: 20px;
}

#betText {
    font-size: 20px;
}

.rules {
    color: black;
}

@media (max-width: 500px) {
    .tableText {
        display: none;
    }

    .tableTitle {
        display: none;
    }

    // .playersHandText {
    //     display: none;
    // }

    // .dealersHandText {
    //     display: none;
    // }
}