.tableTitle {
    color: rgb(230, 86, 129);
    font-size: 35px;
    width: 600px;
    text-align: center;
}

.tableText {
    border-style: solid;
    border-color: yellow;
    color: white;
    text-align: center;
    font-size: 35px;
}

.playersHand {
    color: rgb(230, 86, 129);
    font-size: 35px;
    width: 600px;
    text-align: center;
}

.dealersHand {
    color: rgb(230, 86, 129);
    font-size: 35px;
    width: 600px;
    text-align: center;
}

@media (max-width: 500px) {
    .tableText {
        display: none;
    }

    .tableTitle {
        display: none;
    }

    .playersHand {
        display: none;
    }

    .dealersHand {
        display: none;
    }
}