.tableTitle {
    color: rgb(230, 86, 129);
    font-size: 35px;
    width: 600px;
    text-align: center;
}

.tableText {
    border-style: solid;
    border-color: yellow;
    color: white;
    width: 600px;
    text-align: center;
    font-size: 35px;
}

.test {
    height: 110px;
    overflow: hidden;
}